# My document in learning python
here we go

## python as a calculater

In [2]:
2 +4

6

In [3]:
add = 5 *5

In [4]:
add

25

## strings

In [5]:
name = "Henry"

In [6]:
print("my name is " + name)

my name is Henry

In [3]:
name = input('Please Enter Your name: ')
name
massage = 'Your name is ' + name
print (massage)

Please Enter Your name:  John

Your name is John

In [2]:
11.0 ** 3

1331.0

## help

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

using a defualt seperator

In [7]:
print('Henry', 'Ndugwa')

Henry Ndugwa

Tab as a seperator

In [37]:
test=open('text.txt', 'a')
print('Henry','Ndugwa', sep='\t', end='.' ,file=test)
test.close()

In [39]:
3//3

1

In [40]:
def addition(x,y):
    ans=x+y
    return(ans)

In [41]:
addition(3,4)

7

In [1]:
import functions as fn

In [45]:
fn.transcribe('ATCGTAGCTAGTAGCA')

'UGCUACUAGCUACGAU'

In [2]:
fn.translate('UGCUACUAGCUACGAU')

NameError: name 'codon' is not defined

In [1]:
def validate_dna(dna_seq):
    
    """
    returns True if DNA sequence is valid and false if not
    """
    flag = True
    set_dna = set(dna_seq)
    if set_dna ==4:
        flag = True
    else:flag=False

    return flag

validate_dna("CAGTGATGATGACGAT")

False